@use 'variaveis';

.event {
    padding: 80px 0;
    
    &--frontend {
        background-image: linear-gradient(variaveis.$blu1, variaveis.$blu2);
        color: variaveis.$corDoTexto;
    }

    &--ui-ux {
        background-image: linear-gradient(variaveis.$blu2, variaveis.$pink1);
        color: variaveis.$corDoTexto;
    }

    &--data-science {
        background-image: linear-gradient(variaveis.$pink1, variaveis.$yellow1);
        color: variaveis.$corDoTexto;
    }

    &--back-end {
        background-image: linear-gradient(variaveis.$yellow1, variaveis.$pink1);
        color: variaveis.$corDoTexto;
    }

    &--image-left {
        .container{
            flex-direction: row-reverse;
        }
    }

    .container{
        display: flex;
        gap: 40px;
    }

    &__image{
        max-width: 360px;
    }
    
    &__detail {

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }

        @media (max-width:768px) {
            .container{
                display: block;
            }

            &__image{
                width: 100%;
            }

            &__detail{
                margin-right: 0;
                margin-bottom: 16px;
            }
    }
}